{% extends "admin_panel/base_admin.html" %}
{% block contenido %}
<div class="estado-card">
    <h2>Pago final - Completar solicitud</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Comprobante de pago final:</label>
        <input type="file" name="pago_final" required>

        <label>Monto final:</label>
        <input type="number" name="monto_final" required>

        <button type="submit" class="btn btn-success">Confirmar pago final</button>
    </form>

    <div class="acciones">
        <a href="{% url 'retroceder_estado' solicitud.id %}" class="btn btn-warning">Volver atrás</a>
    </div>
</div>
{% endblock %}
