<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Administrador</title>
    {% load static %}
    <script src="{% static 'js/admin_panel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
</head>

<body>
<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>Administrador</h2>

        <h3>Panel</h3>
        <a href="{% url 'admin_dashboard' %}">Dashboard</a>

        <h3>Solicitudes</h3>
        <a href="{% url 'admin_solicitudes' %}">Ver solicitudes</a>


        <h3>Sesión</h3>
        <a href="{% url 'logout' %}" class="logout-link">Cerrar sesión</a>
    </div>

    <!-- CONTENIDO -->
    <div class="content">
        {% block contenido %}
        {% endblock %}
    </div>

</div>
</body>
</html>
